/* EditWarehouse.scss */

// Container Styles
.edit-warehouse-container {
  display: flex;
  justify-content: center;
  background-color: #f7f8f9;
}

// Card Styles
.edit-warehouse-card {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
  background-color: #ffffff;
  margin-top: 100px;
}

// Edit Warehouse Styles
.edit-warehouse {
  padding: 20px;

  &__back-icon {
    // Styles for the back icon
    width: 24px;
    height: 24px;
  }

  &__title {
    // Styles for the title
    margin-left: 10px;
    font-size: 28px;
  }

  // Header Styles
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__divider {
    // Styles for the dividers
    border: 1px solid #bdc5d5;
    margin: 20px 0;
    width: 100%;
  }

  .edit-warehouse__form-field {
    // Styles for form fields within the section
    margin-bottom: 15px;

    label {
      // Styles for labels
      display: block;
      margin-bottom: 1px;
    }

    input {
      // Styles for input fields
      width: 100%;
      padding: 10px;
      border: 1px solid #bdc5d5;
      border-radius: 50px;
      padding-bottom: 5px;
    }
  }

  &__section {
    margin-bottom: 20px;

    &-title {
      // Styles for the section titles
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  &__save-button {
    // Styles for the "Save" button
    background-color: #2e66e5;
    color: #ffffff;
    border: none;
  }

  &__cancel-button {
    // Styles for the "Cancel" button
    background-color: #ffffff;
    color: #5c667e;
    border: 1px solid #bdc5d5;
  }
  &__buttons {
    display: flex;

    button {
      // Styles for buttons
      flex: 1;
      padding: 10px;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 50px;
      margin-top: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  // Tablet Styles

  .edit-warehouse__divider-second {
    // Vertical divider styles for the tablet section
    width: 1px; 
    height: 470px; 
    background-color: #bdc5d5; 
    margin-left: 20px;

  }

  .edit-warehouse-card {
    width: 700px;
    margin-bottom: 240px;
  }
  .edit-warehouse__buttons {
    // Adjust button styles for tablet here
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 150px;
    margin-left: auto; 

    button {
      margin-top: 20px; 
    }
  }

  .edit-warehouse__items {
    display: flex;

    .edit-warehouse__section {
      flex: 1;
      padding: 20px;
      position: relative;

      &-title {
        font-size: 24px;
        margin-bottom: 35px;
      }
    }
    .edit-warehouse__form-field {
      // Styles for form fields within the section
      margin-bottom: 15px;

      label {
        // Styles for labels
        display: block;
        margin-bottom: 1px;
      }

      input {
        // Adjust the width of input fields for tablet here
        width: 100%;
        padding: 10px;
        border: 1px solid #bdc5d5;
        border-radius: 50px;
        padding-bottom: 15px;
      }
    }
  }
}
@media (min-width: 1024px) {
  // Desktop Styles

  .edit-warehouse__title{
    font-size: 34px;
  }

  .edit-warehouse__divider-second {
    // Vertical divider styles for the tablet section
    width: 1px; 
    height: 490px; 
    background-color: #bdc5d5; 
    margin-left: 20px;

  }

  .edit-warehouse-card {
    width: 1500px;
    margin-bottom: 200px;
  }
  .edit-warehouse__buttons {
    // Adjust button styles for tablet here
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 150px;
    margin-left: auto; 

    button {
      margin-top: 20px; 
    }
  }

  .edit-warehouse__items {
    display: flex;

    .edit-warehouse__section {
      flex: 1;
      padding: 20px;
      position: relative;

      &-title {
        font-size: 28px;
        margin-bottom: 45px;
      }
    }
    .edit-warehouse__form-field {
      // Styles for form fields within the section
      margin-bottom: 15px;

      label {
        // Styles for labels
        display: block;
        margin-bottom: 1px;
      }

      input {
        // Adjust the width of input fields for tablet here
        width: 100%;
        padding: 10px;
        border: 1px solid #bdc5d5;
        border-radius: 50px;
        padding-bottom: 15px;
      }
    }
  }
}


