/* DeleteInventory.scss */

@media screen and (max-width: 767px) {
  .modal-content {
    /* Your existing styles for the modal content */

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 24px;
    }

    h2 {
      padding-top: 40px;
    }
  }
  /* Adjust the styles for the buttons */
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 450px;
    width: 150px;
  }

  /* Style for the "Cancel" button */
  .cancel-button {
    background: #ffffff;
    color: #5c667e;
    border: 1px solid #bdc5d5;
  }

  /* Style for the "Delete" button */
  .delete-button {
    background: #c94515;
    color: white;
    border: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles specific to tablets */
  .modal-content {
    width: 80%;
    height: 20vh;
    background-color: aqua; //temp color
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 10px;
  }
  .close {
    position: absolute;
    top: 50px;
    right: 100px;
    cursor: pointer;
    font-size: 24px;
  }
  .button-container {
    display: flex;
    justify-content: right;
    margin-bottom: 70px;
  }
  /* Adjust the styles for the buttons */
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 60px;
    width: 150px;
  }

  /* Style for the "Cancel" button */
  .cancel-button {
    background: #ffffff;
    color: #5c667e;
    border: 1px solid #bdc5d5;
  }

  /* Style for the "Delete" button */
  .delete-button {
    background: #c94515;
    color: white;
    border: none;
  }
}

@media screen and (min-width: 1025px) {
  .modal-content {
    width: 40%;
    height: 20vh;
    background-color: aqua; //temp color
    margin: 0 auto;
    margin-top: 200px;
    padding-top: 50px;
    padding-left: 10px;
  }
  .close {
    position: absolute;
    top: 200px;
    right: 580px;
    cursor: pointer;
    font-size: 24px;
  }
  .button-container {
    display: flex;
    justify-content: right;
    margin-bottom: 70px;
  }
  /* Adjust the styles for the buttons */
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
    width: 150px;
  }

  /* Style for the "Cancel" button */
  .cancel-button {
    background: #ffffff;
    color: #5c667e;
    border: 1px solid #bdc5d5;
  }

  /* Style for the "Delete" button */
  .delete-button {
    background: #c94515;
    color: white;
    border: none;
  }
}
