@use "../../styles/partials/typography";
@use "../../styles/partials/global";
@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

.warehouses {
  padding: 1rem 1rem;

  &__header {
    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    @include mixins.desktop {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__title {
    padding-left: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;

    @include mixins.tablet {
      flex-direction: row;
      justify-content: flex-end;
    }
    @include mixins.desktop {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    padding-bottom: 1rem;
    @include mixins.tablet {
      width: 40%;
      padding: 0 1rem;
    }
    @include mixins.desktop {
      width: 35%;
      padding: 0 1rem;
    }
  }

  &__search-icon {
    position: absolute;
    right: 1rem;
    top: 0.35rem;
    @include mixins.tablet {
      right: 1.5rem;
    }
    @include mixins.desktop {
      right: 1.5rem;
    }
  }

  &__button {
    background-color: variables.$instock-indigo;
    margin-bottom: 1rem;
    @include mixins.tablet {
      width: 40%;
      padding: 0 1rem;
    }
    @include mixins.desktop {
      width: 22%;
      padding: 0 1rem;
    }
  }

  &__sections {
    display: none;
    background-color: variables.$light-grey;
    @include mixins.tablet {
      display: flex;
      justify-content: space-evenly;
    }
    @include mixins.desktop {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
