@use "../../styles/partials/typography";
@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.warehouses {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
  }

  &__button {
    background-color: variables.$instock-indigo;
  }
}
