/* footer.scss */

.footer {
  background-color: #f7f8f9;
  color: #5c667e;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .footer__copyright {
    font-size: 14px;
  }
  